.container {
  /* padding: 16px; */
  display: flex;
  width: 100%;
}

.sideBar {
  width: 15%;
  height: 100vh;
  background-color: rgb(234, 230, 230);
}

.todoListContainer {
  padding: 20px;
  display: flex;
  width: 100%;
}

.list {
  width: 60%;
}

.detail {
  width: 40%;
}

/* 詳細 */
.todoItem {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.checkBox {
  width: 32px;
  border-bottom: 1px solid rgb(232, 232, 232);
}

/* 追加ボタン */
.add {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 12px;
  height: 64px;
}

.input {
  width: 90%;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 4px;
}

.addButton {
  width: 30%;
  color: white;
  background-color: rgb(41, 198, 255);
  border-radius: 4px;
}
